VITE_FIREBASE_API_KEY=AIzaSyAnCk-g5Y8MlsQJQb-4dwH1no3tBZe-hGU
VITE_FIREBASE_AUTH_DOMAIN=kinderspiel-20032022.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kinderspiel-20032022
VITE_FIREBASE_STORAGE_BUCKET=kinderspiel-20032022.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=117632047930
VITE_FIREBASE_APP_ID=1:117632047930:web:3d27aa605664e057fc8e03
